.App {
  display: flex;
  width: 100%;
}



.resume-form {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  @media (max-width: 700px){
    width: 100%;
  }
}

.resume-form label {
  display: block;
  margin-bottom: 10px;
}

.resume-form input,
.resume-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.resume-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resume-form button:hover {
  background-color: #45a049;
}

.check{
  display: grid;
  grid-template-columns: 90% 10%;
}